<footer class="footer is-inverse">
  <div class="container">
    <div class="footer_bottom-3-col">
      <div
        id="w-node-b3aa982f-5043-0718-64d9-1c4eabecadf5-b7f701f6"
        class="flex_horizontal tablet-vertical w-node-_19d914af-9f0e-6ace-4b7c-128d58729f01-58729efe"
      >
        <a href="#" class="logo w-inline-block">
          <div class="nav_logo-icon">
            <svg
              width="100%"
              height="100%"
              viewbox="0 0 33 33"
              preserveaspectratio="xMidYMid meet"
            >
              <path
                d="M28,0H5C2.24,0,0,2.24,0,5v23c0,2.76,2.24,5,5,5h23c2.76,0,5-2.24,5-5V5c0-2.76-2.24-5-5-5ZM29,17c-6.63,0-12,5.37-12,12h-1c0-6.63-5.37-12-12-12v-1c6.63,0,12-5.37,12-12h1c0,6.63,5.37,12,12,12v1Z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
          <div
            data-brand-name="true"
            class="paragraph_xlarge margin-bottom_none text_all-caps"
          >
            Assistente solar inteligente
          </div>
        </a>
      </div>
      <ul
        id="w-node-b3aa982f-5043-0718-64d9-1c4eabecadfe-b7f701f6"
        role="list"
        class="button-group margin_none text-align_center gap-small w-node-_19d914af-9f0e-6ace-4b7c-128d58729f08-58729efe w-list-unstyled"
      >
        <li class="margin-bottom_none">
          <a href="#inicio" class="footer_link on-inverse w-inline-block">
            <div>Início</div>
          </a>
        </li>
        <li class="margin-bottom_none">
          <a href="{{ '/sobre/' | url }}" class="footer_link on-inverse w-inline-block">
            <div>Sobre</div>
          </a>
        </li>
        <li class="margin-bottom_none">
          <a href="#" class="footer_link on-inverse w-inline-block"></a>
        </li>
        <li class="margin-bottom_none">
          <a href="#" class="footer_link on-inverse w-inline-block"></a>
        </li>
        <li class="margin-bottom_none">
          <a href="#" class="footer_link on-inverse w-inline-block"></a>
        </li>
        <li class="margin-bottom_none">
          <a href="#" class="footer_link on-inverse w-inline-block"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
