{% set nav = navigation or {} %}
{% set logo = nav.logo or { url: '#', label: 'Assistente solar' } %}
<div class="nav is-inverse">
  <div
    data-duration="400"
    data-animation="default"
    data-easing2="ease"
    data-easing="ease"
    data-collapse="medium"
    role="banner"
    data-no-scroll="1"
    class="nav_container w-nav"
  >
    <div class="nav_left">
      <a href="{{ logo.url }}" class="nav_logo w-inline-block">
        <div class="nav_logo-icon">
          <svg
            width="100%"
            height="100%"
            viewbox="0 0 33 33"
            preserveaspectratio="xMidYMid meet"
          >
            <path
              d="M28,0H5C2.24,0,0,2.24,0,5v23c0,2.76,2.24,5,5,5h23c2.76,0,5-2.24,5-5V5c0-2.76-2.24-5-5-5ZM29,17c-6.63,0-12,5.37-12,12h-1c0-6.63-5.37-12-12-12v-1c6.63,0,12-5.37,12-12h1c0,6.63,5.37,12,12,12v1Z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
        <div data-brand-name="true" class="paragraph_large margin-bottom_none">
          {{ logo.label }}
        </div>
      </a>
    </div>
    <div class="nav_right">
      <nav role="navigation" class="nav_menu w-nav-menu">
        <ul role="list" class="nav_menu-list w-list-unstyled">
          {% for item in nav.links or [] %}
          <li class="nav_menu-list-item">
            {% set rawHref = item.href or '#' %}
            {% set resolvedHref = rawHref %}
            {% if rawHref and rawHref[0] != '#' %}
              {% set resolvedHref = rawHref | url %}
            {% endif %}
            <a href="{{ resolvedHref }}" class="nav_link on-inverse w-inline-block">
              <div>{{ item.label }}</div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="button-group margin-top_none">
        <a href="{{ '/' | url }}#demo-cli-section" class="button is-secondary on-inverse w-inline-block">
          <div class="button_label">Testar solução</div>
        </a>
      </div>
    </div>
    <div class="nav_mobile-menu-button w-nav-button">
      <div class="icon on-inverse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <g
            class="nc-icon-wrapper"
            stroke-linecap="square"
            stroke-linejoin="miter"
            stroke-width="1.5"
            fill="none"
            stroke="currentColor"
            stroke-miterlimit="10"
          >
            <line x1="1" y1="12" x2="23" y2="12" stroke="currentColor"></line>
            <line x1="1" y1="5" x2="23" y2="5"></line>
            <line x1="1" y1="19" x2="23" y2="19"></line>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
