    <section class="section overflow_hidden" id="demo-cli-section">
      <div class="container">
        <div class="header is-align-center">
          <div class="eyebrow">Soluções inteligentes para energia solar</div>
          <h2 class="heading_h2">Automação residencial</h2>
        </div>
        <div class="grid_3-col mobile-l-1-col gap-small">
          <div id="w-node-a32d3f36-d487-5afa-4d07-6d56e2f2cbf5-08b23417" class="ix_card-stack-1">
            <div class="card overflow_hidden backdrop-filter_blur">
              <div class="div-block-2">
                <div class="card_body padding-bottom_none">
                  <p class="heading_h4">Integração completa com SmartLife/Tuya</p>
                  <p>Adicione apenas nossa camada de software e qualquer inversor GoodWe passa a se integrar a plataformas de automação residencial, sem hardware extra</p><br />
                </div>
                <div class="image-ratio_1x1 margin-top_xsmall margin-left_medium">
                  <img
                    src="images/Express_9j_1.jpeg"
                    loading="lazy"
                    sizes="(max-width: 767px) 100vw, 539.9907836914062px"
                    alt="Ilustração de integração com SmartLife e Tuya"
                    srcset="images/Express_9j_1-p-500.jpeg 500w, images/Express_9j_1.jpeg 540w"
                    class="image-4"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            id="w-node-c3213bd8-e2ac-e4d0-ab8d-897ec70fa140-c70fa131"
            class="ix_card-stack-2 z-index_2 backdrop-filter_blur w-node-a32d3f36-d487-5afa-4d07-6d56e2f2cc01-08b23417"
          >
            <div class="card overflow_hidden backdrop-filter_blur"></div>
            <div class="ix_card-stack-1">
              <div class="card overflow_hidden backdrop-filter_blur">
                <div class="div-block-2">
                  <div class="card_body padding-bottom_none">
                    <p class="heading_h4">Economia real</p>
                    <p>Use qualquer parâmetro do inversor como gatilho para criar cenas automáticas. Maximize o aproveitamento da energia solar e reduza custos de forma simples e inteligente.</p><br />
                  </div>
                  <div class="image-ratio_1x1 margin-top_xsmall margin-left_medium">
                    <img
                      src="images/Express_9j.jpeg"
                      loading="lazy"
                      alt="Ilustração destacando economia com automação do inversor"
                      srcset="images/Express_9j-p-500.jpeg 500w, images/Express_9j.jpeg 540w"
                      sizes="(max-width: 479px) 100vw, 306.9903564453125px"
                      class="image-4"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ix_card-stack-3">
            <div class="card overflow_hidden backdrop-filter_blur"></div>
            <div class="ix_card-stack-1">
              <div class="card overflow_hidden backdrop-filter_blur">
                <div class="div-block-2">
                  <div class="card_body padding-bottom_none">
                    <p class="heading_h4">Cenas adaptadas ao usuário</p>
                    <p>Seja para economizar bateria ou potencializar o uso solar, a solução cria e combina cenas personalizadas que se ajustam às necessidades de cada cliente.</p><br />
                  </div>
                  <div class="image-ratio_1x1 margin-top_xsmall margin-left_medium">
                    <img
                      src="images/Express_9j_2.jpeg"
                      loading="lazy"
                      sizes="(max-width: 767px) 100vw, 539.9907836914062px"
                      alt="Ilustração de cenas personalizadas para automação residencial"
                      srcset="images/Express_9j_2-p-500.jpeg 500w, images/Express_9j_2.jpeg 540w"
                      class="image-4"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container is-small">
        <div class="header">
          <div class="eyebrow">Veja como nossa solução funciona na prática</div>
          <h2 class="heading_h1">Video Demonstração</h2>
          <div class="w-embed-youtubevideo">
            <iframe
              src="https://www.youtube.com/embed/zZs3eFPxNo0"
              title="Video demonstração do Assistente Solar"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </section>
