    <section class="section is-inverse">
      <div class="container">
        <div class="header">
          <h2 class="heading_h2 max-width_large">
            Energia inteligente, casa conectada
          </h2>
        </div>
        <div class="w-layout-grid grid_2-col gap-large">
          <div
            id="w-node-f775ff24-b5c8-7852-7215-98f053d7aa08-2d9b3dc8"
            class="w-layout-grid grid_1-col gap-medium w-node-a082501a-ca13-9853-2daa-9d4b11c13540-08b23417"
          >
            <div
              id="w-node-f775ff24-b5c8-7852-7215-98f053d7aa09-2d9b3dc8"
              class="flex_horizontal gap-xxsmall w-node-a082501a-ca13-9853-2daa-9d4b11c13531-08b23417"
            >
              <div>
                <div class="icon on-inverse">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="100%"
                    height="100%"
                    viewbox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M19.25 12C19.25 16.0041 16.0041 19.25 12 19.25C7.99594 19.25 4.75 16.0041 4.75 12C4.75 7.99594 7.99594 4.75 12 4.75C16.0041 4.75 19.25 7.99594 19.25 12Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                    ></path>
                    <path
                      d="M9 12L11 14L15.5 9.5"
                      stroke="currentColor"
                      stroke-width="1.5"
                    ></path>
                  </svg>
                </div>
              </div>
              <p class="paragraph_large margin-bottom_none">
                Veja o status da bateria em tempo real, receba alertas
                automáticos e otimize seu sistema solar com praticidade e
                segurança.
              </p>
            </div>
            <div
              id="w-node-f775ff24-b5c8-7852-7215-98f053d7aa11-2d9b3dc8"
              class="flex_horizontal gap-xxsmall w-node-a082501a-ca13-9853-2daa-9d4b11c13538-08b23417"
            >
              <div>
                <div class="icon on-inverse">
                  <svg
                    width="100%"
                    height="100%"
                    viewbox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M4 12C8.41828 12 12 8.41828 12 4C12 8.41828 15.5817 12 20 12C15.5817 12 12 15.5817 12 20C12 15.5817 8.41828 12 4 12Z"
                      stroke-width="1.5"
                      stroke-linejoin="round"
                      stroke="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
              <p class="paragraph_large margin-bottom_none">
                Conte com suporte imediato para alertas do inversor, além de
                dicas personalizadas para resolver problemas e melhorar seu
                consumo.
              </p>
            </div>
            <div
              id="w-node-f775ff24-b5c8-7852-7215-98f053d7aa18-2d9b3dc8"
              class="flex_horizontal gap-xxsmall w-node-a082501a-ca13-9853-2daa-9d4b11c1353f-08b23417"
            >
              <div>
                <div class="icon on-inverse">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="100%"
                    height="100%"
                    viewbox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M6.75 18.25V4.75H13.5L17.25 8.5V18.25H6.75Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </div>
              </div>
              <p class="paragraph_large margin-bottom_none">
                Monitore a geração de energia e status de bateria, acompanhe
                ganhos em kWh e renda, e descubra novas oportunidades para
                tornar seu lar mais sustentável.
              </p>
            </div>
          </div>
          <div class="image-ratio_auto">
            <img
              width="563"
              height="385"
              alt="image of inspected home exterior"
              src="images/41d56c48-06a1-47f1-9417-ea9591cffdcb.avif"
              loading="lazy"
              data-aisg-image-id="afbb24b5-7227-4f5b-bc42-efd483a6e547"
              class="image_cover"
            />
          </div>
        </div>
      </div>
    </section>
