    <header class="section overflow_hidden is-inverse" id="inicio">
      <div class="container max-width_90percent">
        <div
          id="w-node-_286694ff-5466-72c9-83da-b31e3401911d-4da84a69"
          class="header w-node-_1aef83e7-a29a-7259-74a9-1b3cd10dc26f-08b23417"
        >
          <div
            class="w-layout-grid grid_5-col tablet-1-col gap-medium is-y-bottom"
          >
            <div
              id="w-node-a15aa3ad-b541-e3b1-545d-786b4da84a6c-4da84a69"
              class="heading-responsive_wrapper w-node-_1aef83e7-a29a-7259-74a9-1b3cd10dc265-08b23417"
            >
              <h1 class="heading-responsive_large margin-bottom_none">
                Energia solar, inteligência em ação
              </h1>
            </div>
            <div
              id="w-node-a15aa3ad-b541-e3b1-545d-786b4da84a6f-4da84a69"
              class="max-width_small w-node-_1aef83e7-a29a-7259-74a9-1b3cd10dc26d-08b23417"
            >
              <p class="subheading">
                Conecte seu inversor, monitore geração, otimize consumo e receba
                suporte inteligente. Descubra como automatizar sua casa,
                consultar status em tempo real e economizar energia com
                tecnologia de IA. Faça parte de um futuro sustentável, com
                autonomia e praticidade para o seu dia a dia.
              </p>
              <div class="button-group">
                <a href="#" id="btn-descubra" class="button on-inverse w-button"
                  >Descubra</a
                >
                <a
                  href="#demo-cli-section"
                  id="btn-teste"
                  class="button is-secondary on-inverse w-button"
                  >Teste a nossa solução</a
                >
              </div>
            </div>
          </div>
        </div>
        <div>
          <div
            data-w-id="1aef83e7-a29a-7259-74a9-1b3cd10dc27e"
            class="w-layout-hflex flex_horizontal gap-xsmall"
          >
            <div>
              <img
                width="139"
                height="95"
                alt="image of smart home energy management systems for a green tech/cleantech company"
                src="images/aa05cb7a-8bbd-45d3-9601-be183a78439b.avif"
                loading="lazy"
                data-aisg-image-id="52a4b47d-ad48-41bc-87da-138818acf3e7"
                class="image_cover"
              />
            </div>
            <div>
              <img
                width="139"
                height="95"
                alt="[background image] image of urban sustainability initiatives for a green tech/cleantech company"
                src="images/e48fd97a-90ef-4d96-8ada-02d5dbd0565c.avif"
                loading="lazy"
                data-aisg-image-id="a58821f1-1aa7-4a6d-8cab-40ced19b2f6d"
                class="image_cover"
              />
            </div>
            <div>
              <img
                width="139"
                height="95"
                alt="image of solar panels on a rooftop [background image]"
                src="images/f1c3aa25-6aa2-4b30-968f-4b95274793ed.avif"
                loading="lazy"
                data-aisg-image-id="2ee47610-bd58-4d35-8a6a-05d0b6e9e5aa"
                class="image_cover"
              />
            </div>
            <div>
              <img
                width="139"
                height="95"
                alt="solar panels on rooftops"
                src="images/ebf21514-c315-4639-b958-0d11dfe90f02.avif"
                loading="lazy"
                data-aisg-image-id="5263009a-9abf-4a58-b90c-af7aee62d857"
                class="image_cover"
              />
            </div>
          </div>
        </div>
      </div>
    </header>
