    <section class="section" id="sobre">
      <div class="container">
        <div class="header is-align-center">
          <h2>- Our Team -</h2>
          <p class="subheading">Meet the people behind the solution</p>
        </div>

        <div
          class="w-layout-grid grid_5-col tablet-2-col mobile-1-col gap-medium margin-top_large"
        >
          <div class="card card_body shadow_small is-align-center">
            <div
              class="image-ratio_1x1 margin-bottom_small"
              style="width: 120px; margin-left: auto; margin-right: auto"
            >
              <img
                src="{{ '/images/participants/helena.enc' | url }}"
                alt="Member 1 Photo"
                class="image_cover"
                style="border-radius: 50%"
              />
            </div>
            <h4 class="heading_h4 margin-bottom_xxsmall">Helena Barbosa</h4>
            <p class="paragraph_small text-color_secondary">
              Backend Developer
            </p>
            <p class="paragraph_small margin-top_xsmall">
              Participation in integrations
            </p>
          </div>

          <div class="card card_body shadow_small is-align-center">
            <div
              class="image-ratio_1x1 margin-bottom_small"
              style="width: 120px; margin-left: auto; margin-right: auto"
            >
              <img
                src="{{ '/images/participants/henrique.png' | url }}"
                alt="Member 2 Photo"
                class="image_cover"
                style="border-radius: 50%"
              />
            </div>
            <h4 class="heading_h4 margin-bottom_xxsmall">Henrique Mandrick</h4>
            <p class="paragraph_small text-color_secondary">
              Back/Front Developer
            </p>
            <p class="paragraph_small margin-top_xsmall">
              Interface development and integrations
            </p>
          </div>

          <div class="card card_body shadow_small is-align-center">
            <div
              class="image-ratio_1x1 margin-bottom_small"
              style="width: 120px; margin-left: auto; margin-right: auto"
            >
              <img
                src="{{ '/images/participants/mateus.enc' | url }}"
                alt="Member 3 Photo"
                class="image_cover"
                style="border-radius: 50%"
              />
            </div>
            <h4 class="heading_h4 margin-bottom_xxsmall">Mateus Tomomitsu</h4>
            <p class="paragraph_small text-color_secondary">
              Backend Developer
            </p>
            <p class="paragraph_small margin-top_xsmall">
              Participation in integrations
            </p>
          </div>

          <!-- Member 4 -->
          <div class="card card_body shadow_small is-align-center">
            <div
              class="image-ratio_1x1 margin-bottom_small"
              style="width: 120px; margin-left: auto; margin-right: auto"
            >
              <img
                src="{{ '/images/participants/ryan.enc' | url }}"
                alt="Member 4 Photo"
                class="image_cover"
                style="border-radius: 50%"
              />
            </div>
            <h4 class="heading_h4 margin-bottom_xxsmall">Ryan Amorim</h4>
            <p class="paragraph_small text-color_secondary">Backend Developer</p>
            <p class="paragraph_small margin-top_xsmall">
              Participation in Alexa integration
            </p>
          </div>

          <div class="card card_body shadow_small is-align-center">
            <div
              class="image-ratio_1x1 margin-bottom_small"
              style="width: 120px; margin-left: auto; margin-right: auto"
            >
              <img
                src="{{ '/images/participants/thomas.enc' | url }}"
                alt="Member 5 Photo"
                class="image_cover"
                style="border-radius: 50%"
              />
            </div>
            <h4 class="heading_h4 margin-bottom_xxsmall">Thomas Kobayashi</h4>
            <p class="paragraph_small text-color_secondary">Backend Developer</p>
            <p class="paragraph_small margin-top_xsmall">
              Participation in Alexa integration
            </p>
          </div>
        </div>
      </div>
    </section>
