    <section class="section" id="sobre">
      <div class="container">
        <div class="header is-align-center">
          <h2>- Nossa Equipe -</h2>
          <p class="subheading">Conheça os responsáveis por trás da solução</p>
        </div>

        <div
          class="w-layout-grid grid_5-col tablet-2-col mobile-1-col gap-medium margin-top_large"
        >
          <div class="card card_body shadow_small is-align-center">
            <div
              class="image-ratio_1x1 margin-bottom_small"
              style="width: 120px; margin-left: auto; margin-right: auto"
            >
              <img
                src="{{ '/images/participants/helena.enc' | url }}"
                alt="Foto do Integrante 1"
                class="image_cover"
                style="border-radius: 50%"
              />
            </div>
            <h4 class="heading_h4 margin-bottom_xxsmall">Helena Barbosa</h4>
            <p class="paragraph_small text-color_secondary">
              Desenvolvedora Backend
            </p>
            <p class="paragraph_small margin-top_xsmall">
              Participação nas integrações
            </p>
          </div>

          <div class="card card_body shadow_small is-align-center">
            <div
              class="image-ratio_1x1 margin-bottom_small"
              style="width: 120px; margin-left: auto; margin-right: auto"
            >
              <img
                src="{{ '/images/participants/henrique.png' | url }}"
                alt="Foto2"
                class="image_cover"
                style="border-radius: 50%"
              />
            </div>
            <h4 class="heading_h4 margin-bottom_xxsmall">Henrique Mandrick</h4>
            <p class="paragraph_small text-color_secondary">
              Desenvolvedor Back/Front
            </p>
            <p class="paragraph_small margin-top_xsmall">
              Desenvolvimento de interface e integrações
            </p>
          </div>

          <div class="card card_body shadow_small is-align-center">
            <div
              class="image-ratio_1x1 margin-bottom_small"
              style="width: 120px; margin-left: auto; margin-right: auto"
            >
              <img
                src="{{ '/images/participants/mateus.enc' | url }}"
                alt="Foto3"
                class="image_cover"
                style="border-radius: 50%"
              />
            </div>
            <h4 class="heading_h4 margin-bottom_xxsmall">Mateus Tomomitsu</h4>
            <p class="paragraph_small text-color_secondary">
              Desenvolvedor Backend
            </p>
            <p class="paragraph_small margin-top_xsmall">
              Participação nas integrações
            </p>
          </div>

          <!-- Integrante 4 -->
          <div class="card card_body shadow_small is-align-center">
            <div
              class="image-ratio_1x1 margin-bottom_small"
              style="width: 120px; margin-left: auto; margin-right: auto"
            >
              <img
                src="{{ '/images/participants/ryan.enc' | url }}"
                alt="Foto do Integrante 4"
                class="image_cover"
                style="border-radius: 50%"
              />
            </div>
            <h4 class="heading_h4 margin-bottom_xxsmall">Ryan Amorim</h4>
            <p class="paragraph_small text-color_secondary">Desenvolvedor Backend</p>
            <p class="paragraph_small margin-top_xsmall">
              Participação na integração Alexa
            </p>
          </div>

          <div class="card card_body shadow_small is-align-center">
            <div
              class="image-ratio_1x1 margin-bottom_small"
              style="width: 120px; margin-left: auto; margin-right: auto"
            >
              <img
                src="{{ '/images/participants/thomas.enc' | url }}"
                alt="Foto do Integrante 5"
                class="image_cover"
                style="border-radius: 50%"
              />
            </div>
            <h4 class="heading_h4 margin-bottom_xxsmall">Thomas Kobayashi</h4>
            <p class="paragraph_small text-color_secondary">Desenvolvedor Backend</p>
            <p class="paragraph_small margin-top_xsmall">
              Participação na integração Alexa
            </p>
          </div>
        </div>
      </div>
    </section>
