---
layout: layouts/base.njk
permalink: /
title: Assistente Gerenciamento solar GoodWe
extraScripts:
  - /js/home.js
  - /js/cli-concept.js
---
{% include "sections/hero.njk" %}
{% include "sections/energy-overview.njk" %}
{% include "sections/chat-showcase.njk" %}
{% include "sections/cli-separator.njk" %}
{% include "experiments/cli-concept.njk" %}
{% include "sections/alexa-integration.njk" %}
